/* EVENTS */

.eventheader {
  height: 100vh;
  position: relative;
  color: #fff;
  background: url(../public/afbeeldingen/bg-5.jpg) no-repeat center center/cover;
  overflow: hidden;
}

.eventheader .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.eventheader .content h1,
.eventheader .content img {
  font-family: "Nosifer", cursive;
  margin-bottom: 40px;
  font-size: 80px;
}

.eventheader .content img {
  width: auto;
  height: auto;
  max-width: 400px;
  max-height: 200px;
}

.eventdetail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.eventdetail h1 {
  margin-bottom: 20px;
}

.eventdetails {
  margin-left: 40px;
}

.picker {
  height: 50vh;
  background-color: #000;
  color: #fff;
  margin: 20px;
}

.eventsection {
  margin-top: 50px;
}
.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px;
}

.topbuttons {
  border-bottom: 2px #000 solid;
  margin: 0 50px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 50vh;
  max-height: 100%;
  margin-bottom: 20px;
}

.btn .btn-outline {
  margin-left: 50px;
}

.timetable {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.time {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .eventheader .content h1,
  .eventheader .content img {
    font-family: "Nosifer", cursive;
    margin-bottom: 40px;
    font-size: 40px;
  }


  .info {
    width: 70vw;
  height: 50vh;
  text-align: center;
  }
  
  .info h1,.info h3 {
    font-size: 15px;
    margin-top: 10px;
  }

  .time {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

  }


  .eventdetail {
flex-direction: column;
justify-content: center;


}
.eventdetails {
  text-align: center;
  margin-left: 20px;
}

.timetable{
margin-top: 20px;

}
}